.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 24px 16px 0;
    float: left;
}

.iconGroup i {
    transition: color 0.32s;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin-left: 16px;
}
.iconGroup i:hover {
    color: rgba(0, 0, 0, 0.45);
}

.salesExtra {
  display: inline-block;
  margin-right: 24px;
}
.salesExtra a {
    color: rgba(0, 0, 0, 0.45);
    margin-left: 24px;
}
.salesExtra a:hover {
    color: rgba(0, 0, 0, 0.45);
}
.salesExtra a.currentDate {
    color: rgba(0, 0, 0, 0.45);
}

.salesCard .salesBar {
    padding: 0 0 32px 32px;
}
.salesCard .salesRank {
    padding: 0 32px 32px 72px;
}

.salesCardExtra {
  height: 68px;
}

.salesTypeRadio {
  position: absolute;
  left: 24px;
  bottom: 15px;
}